html {
  width: 100%;
}

section {
  width: 100%;
}

#photos{
  display: inline;
}

#left{
  width: 350px;
  height: 350px;
}

#middle{
  width: 350px;
  height: 350px;
}

#right {
  width:350px;
  height: 350px;
}

#button {
  visibility: hidden
}
