html {
  width: 100%;
}

body {
  background-color: #DCDCDC;
  width: 100%
}

h1{
  text-align: center;
  font-family: sans-serif;
  color: grey;
}

section {
  text-align: center;
}

#photos{
  display: inline;
}

#left{
  width: 350px;
  height: 350px;
}

#middle{
  width: 350px;
  height: 350px;
}

#right {
  width:350px;
  height: 350px;
}

#button {
  visibility: hidden
}
